<h1>{{title}}</h1>
{{#if conocido}}
    <h2>Hola {{nombre}} ! <a href="/salir">Salir</a></h2>
{{/if}}

{{#unless conocido}}
<h2>Ingresá con tu usuario</h2>
<form action="/ingresar" method="post">
    <input type="text" name="nombre"><button>Ingresar</button>
</form>
{{/unless}}